Repository warezgibzzz/dApp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

paginate UI and font fixes
  src/components/ContractsList.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

font fixes
  src/less/App.less
Due: npm run prettier-less

less formatting
  src/less/App.less
Due: npm run prettier-less

filters up top, time, table stylings
  src/components/ContractsList.js
  src/less/App.less
  src/less/ContractsList.less
  src/less/MarketTheme.less
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

popover
  package-lock.json
  src/less/App.less
Due: prettier --single-quote --write, npm run prettier-less

package lock
  package-lock.json
Due: prettier --single-quote --write

formatting date in util
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

copy query to clipboard
  package-lock.json
  package.json
Due: prettier --single-quote --write

revert package stuff and add copy to clipboard
  package-lock.json
  package.json
Due: prettier --single-quote --write

custom order button
  src/components/ContractsList.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

no contracts found test
  src/components/ContractsList.js
Due: prettier --single-quote --write, npm run lint:fix

copy query to clipboard
  package-lock.json
  package.json
  src/less/App.less
Due: prettier --single-quote --write, npm run prettier-less

all contracts
  src/components/ContractsList.js
Due: prettier --single-quote --write, npm run lint:fix

cap filter items
  src/components/ContractsList.js
Due: prettier --single-quote --write, npm run lint:fix

react lifecycle test fix, all contracts filters
  src/components/ContractsList.js
  test/components/ContractsList.test.js
Due: prettier --single-quote --write, npm run lint:fix

componentDidUpdate stuff, minor changes
  src/components/ContractsList.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Modified guided deployment layout
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/components/GasPriceField.js
  src/less/Step.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Added contract name in first step in simplified deploy flow
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/SelectTokenField.js
  src/components/DeployContract/Steps.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Modified simlified deploy contracts layout
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/less/App.less
  src/less/MarketTheme.less
  src/less/Step.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Splitting gas settings to a separate step in simplified deploy flow
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
Due: prettier --single-quote --write, npm run lint:fix

Price cap/floor graph
  src/components/DeployContract/PriceGraph.js
  src/components/DeployContract/Steps.js
  test/components/DeployContract/PriceGraph.test.js
  test/components/DeployContract/Steps.test.js
Due: prettier --single-quote --write, npm run lint:fix

Modified Quick deploy UI
  src/components/DeployContract/QuickDeployment.js
  src/components/GasPriceField.js
  src/less/MarketTheme.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Added background container on guided deploy flow and made changes to slider in gas settings page
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/Steps.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Modified Gas settings step
  src/components/DeployContract/Steps.js
  src/components/GasPriceField.js
  src/less/App.less
  src/less/MarketTheme.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Added loader while fetching the gas settings
  src/components/GasPriceField.js
Due: prettier --single-quote --write, npm run lint:fix

Handled step counter on price floor and caps by calibirating it to price value
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/SelectTokenField.js
  src/components/DeployContract/Steps.js
  src/components/GasPriceField.js
  src/less/App.less
  src/less/Step.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Updated failing tests
  src/components/DeployContract/PriceGraph.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/components/GasPriceField.js
  test/components/DeployContract/PriceGraph.test.js
  test/components/DeployContract/QuickDeployment.test.js
  test/components/DeployContract/SimplifiedDeployment.test.js
  test/components/DeployContract/Steps.test.js
  test/components/GasPriceField.test.js
Due: prettier --single-quote --write, npm run lint:fix

Added hideLabel prop to form field and added copy,link buttons in contract result step
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/PriceGraph.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/components/GasPriceField.js
  src/less/Step.less
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Fixed price cap and floor input fields not getting updated when navigating between steps in simplified deplpoy contracts flow
  src/components/DeployContract/SelectTokenField.js
  src/components/DeployContract/Steps.js
Due: prettier --single-quote --write, npm run lint:fix

Removed unnecessary componentWillReceiveProps lifecycle method in PriceGraph component
  src/components/DeployContract/PriceGraph.js
Due: prettier --single-quote --write, npm run lint:fix

Simplified deploy contract step UI
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/Steps.js
  src/less/App.less
  src/less/ContractDeploymentFlow.less
  src/less/Step.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

100% textboxs
  src/components/ContractsList.js
Due: prettier --single-quote --write, npm run lint:fix

Resetting UI elements on data change in Exchange step of Simplified deploy contract flow
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/less/App.less
  src/less/Step.less
  test/components/DeployContract/Steps.test.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

cache contract addresses on develop (#267)
  config/polyfills.js
  src/util/contracts.js
Due: prettier --single-quote --write, npm run lint:fix

updates all instances of componentWillReceiveProps to use componentDidUpdate
  src/App.js
  src/components/DeployContract/DeployContractSuccess.js
  src/components/DeployContract/ExchangeSources.js
  src/components/DeployContract/SelectTokenField.js
  src/components/FindContract/FindContractForm.js
  src/components/SimExchange/SimExchange.js
  src/components/SimExchange/Trades.js
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/components/SimExchange/WalletComponents/Table.js
  src/components/TestQuery/TestQueryForm.js
  src/components/TestQuery/TestQuerySuccess.js
  src/util/contracts.js
Due: prettier --single-quote --write, npm run lint:fix

Modified test query page UI and removed find contract page
  src/components/FindContract/FindContractField.js
  src/components/FindContract/FindContractForm.js
  src/components/FindContract/FindContractSuccess.js
  src/components/Header.js
  src/components/TestQuery/Steps.js
  src/components/TestQuery/TestQueryForm.js
  src/containers/Find.js
  src/containers/index.js
  src/less/Step.less
  src/routes.js
  test/App.test.js
  test/components/FindContract/FindContractField.test.js
  test/components/FindContract/FindContractForm.test.js
  test/components/FindContract/FindContractSuccess.test.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Initial commit for MARKET.js upgrade to 0.2.2
  package-lock.json
  package.json
  src/util/marketjs/marketMiddleware.js
Due: prettier --single-quote --write, npm run lint:fix

Token filters are now exact match
  src/components/ContractsList.js
Due: prettier --single-quote --write, npm run lint:fix

increase test coverage
  package-lock.json
  package.json
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/PriceGraph.js
  src/components/DeployContract/SelectTokenField.js
  src/components/DeployContract/Steps.js
  test/components/DeployContract/ExchangeSources.test.js
  test/components/DeployContract/PriceGraph.test.js
  test/components/DeployContract/SelectTokenField.test.js
  test/components/DeployContract/SimplifiedDeployment.test.js
  test/components/DeployContract/Steps.test.js
  test/components/DeployContract/fakedata/binanceExchangeInfo.json
  test/components/DeployContract/fakedata/binanceTickerPrice.json
  test/components/DeployContract/fakedata/bitfinexPubTicker.json
  test/components/DeployContract/fakedata/bitfinexSymbolsDetails.json
Due: prettier --single-quote --write, npm run lint:fix

Use `copy-to-clipboard`
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

Path conditions:
  prettier --single-quote --write: (any of: *.{js,jsx}) or (any of: *.json)
  npm run lint:fix: any of: *.{js,jsx}
  npm run prettier-less: any of: src/**/*.less
