Repository warezgibzzz/dApp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

upgrade to market-solidity 1.0.0
  migrations/2_deploy_contracts.js
  package-lock.json
  package.json
  rinkeby-build/contracts/Authentication.json
  rinkeby-build/contracts/CollateralToken.json
  rinkeby-build/contracts/Destructible.json
  rinkeby-build/contracts/MarketCollateralPoolFactory.json
  rinkeby-build/contracts/MarketContractFactoryOraclize.json
  rinkeby-build/contracts/MarketContractOraclize.json
  rinkeby-build/contracts/MarketContractRegistry.json
  rinkeby-build/contracts/MarketToken.json
  rinkeby-build/contracts/MathLib.json
  rinkeby-build/contracts/Migrations.json
  rinkeby-build/contracts/OraclizeQueryTest.json
  rinkeby-build/contracts/OrderLib.json
  rinkeby-build/contracts/Ownable.json
  src/Contracts.js
  src/actions/deploy.js
  src/components/ContractsList.js
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/components/FindContract/FindContractForm.js
  src/util/utils.js
  test/actions/deploy.test.js
  test/actions/explorer.test.js
  test/actions/find.test.js
  test/components/ContractsList.test.js
  test/components/DeployContract/QuickDeployment.test.js
  test/mocks/contracts.js
Due: prettier --single-quote --write, npm run lint:fix

changes color of link
  src/less/App.less
Due: npm run prettier-less

Extend simplified deployment to allow for assets denominated in USDT
  src/components/DeployContract/ExchangeSources.js
  src/components/DeployContract/SelectTokenField.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/util/utils.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

Reduce JS bundle size by cherry picking functions
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/WalletComponents/Form.js
Due: prettier --single-quote --write, npm run lint:fix

Updated the landing page with new design
  src/App.js
  src/components/CallToActionBanner.js
  src/components/Landing.js
  src/components/MarketFooter.js
  src/img/explore-illustration.svg
  src/img/footer/github.svg
  src/img/footer/logo_light.svg
  src/img/footer/medium.svg
  src/img/footer/telegram.svg
  src/img/footer/twitter.svg
  src/img/footer/youtube.svg
  src/img/hero-illustration-full.svg
  src/img/hero-illustration.svg
  src/img/sim-illustration.svg
  src/img/test-illustration.svg
  src/less/CallToActionBanner.less
  src/less/Landing.less
  src/less/MarketFooter.less
  src/less/MarketTheme.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

antd upgrade, fixes #172 and closes #193 with bad merge
  package-lock.json
  package.json
Due: prettier --single-quote --write

Add select group option
  src/components/DeployContract/ExchangeSources.js
  src/components/DeployContract/SelectTokenField.js
Due: prettier --single-quote --write, npm run lint:fix

adjust space between footer and body
  src/less/App.less
Due: npm run prettier-less

bugfix for issue #191 - navbar state (#197)
  src/components/Header.js
Due: prettier --single-quote --write, npm run lint:fix

fixes bad json structure for queries using simplified deploy.
  src/components/DeployContract/ExchangeSources.js
Due: prettier --single-quote --write, npm run lint:fix

add bucket cleanup and cloudfront invalidation script
  .travis.yml
  scripts/clean_bucket.sh
Due: none

copy fix on landing
  src/components/Landing.js
Due: prettier --single-quote --write, npm run lint:fix

update landing copy and prepare new release
  src/components/DeployContract/ExchangeSources.js
  src/components/Header.js
  src/components/Landing.js
Due: prettier --single-quote --write, npm run lint:fix

bump version number
  package.json
Due: prettier --single-quote --write

Fix selected deployment contract state in Header component
  src/components/Header.js
  src/components/NavItem.js
  test/components/NavItem.test.js
Due: prettier --single-quote --write, npm run lint:fix

Modified the logic for active header menu
  package-lock.json
  src/components/Header.js
Due: prettier --single-quote --write, npm run lint:fix

fix bad require statement from update migrations fixes #206
  src/Contracts.js
Due: prettier --single-quote --write, npm run lint:fix

Fixed #204
  .travis.yml
  package.json
  src/components/MarketFooter.js
Due: prettier --single-quote --write, npm run lint:fix

Fixed #205
  src/components/CallToActionBanner.js
  src/components/MarketSubscriberForm.js
  src/less/MarketSubscriberForm.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Fix time pick
  src/components/DeployContract/DeployContractField.js
  src/less/App.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

change code style
  src/components/DeployContract/DeployContractField.js
Due: prettier --single-quote --write, npm run lint:fix

change next month css
  src/less/App.less
Due: npm run prettier-less

Fix utc UX time
  src/components/DeployContract/DeployContractField.js
Due: prettier --single-quote --write, npm run lint:fix

add tests
  test/components/DeployContract/QuickDeployment.test.js
Due: prettier --single-quote --write, npm run lint:fix

update calendar style override
  src/less/App.less
Due: npm run prettier-less

[WIP] Fixed SimExchange component not working
  src/actions/simExchange.js
  src/components/SimExchange/SimExchange.js
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/Trades.js
  src/components/SimExchange/Wallet.js
  src/containers/SimExchange.js
  src/util/utils.js
  test/components/SimExchange/SimExchange.test.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

[WIP] Integrated create, sign and trade order methods
  package-lock.json
  package.json
  src/actions/simExchange.js
  src/containers/SimExchange.js
  src/util/utils.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

fixed issues with collateral
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

fix fillQty issues
  src/actions/simExchange.js
Due: prettier --single-quote --write, npm run lint:fix

Integrate Collateral Functionality from MARKET.js (#212)
  package-lock.json
  package.json
  src/components/SimExchange/Columns.js
  src/components/SimExchange/SimExchange.js
  src/components/SimExchange/SimExchange.less
  src/components/SimExchange/TopBar.js
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/TradeComponents/Form.less
  src/components/SimExchange/TradeComponents/Table.js
  src/components/SimExchange/TradeComponents/Table.less
  src/components/SimExchange/TradeComponents/table.css
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/Trades.js
  src/components/SimExchange/Trades.less
  src/components/SimExchange/Wallet.js
  src/components/SimExchange/WalletComponents/Columns.js
  src/components/SimExchange/WalletComponents/Form.js
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/components/SimExchange/WalletComponents/Table.js
  src/components/SimExchange/WalletComponents/header-menu.css
  src/components/SimExchange/WalletComponents/table.css
  src/components/SimExchange/data/asks.js
  src/components/SimExchange/data/bids.js
  src/components/SimExchange/data/wallet.js
  src/containers/SimExchange.js
  src/index.css
  src/less/Header.less
  src/util/utils.js
  src/util/web3/contractInitializer.js
  src/util/web3/getWeb3.js
  test/components/ContractsList.test.js
  test/components/SimExchange/SimExchange.test.js
  test/components/SimExchange/Wallet.test.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Refactored collateral token deposit
  package-lock.json
  src/actions/simExchange.js
  src/containers/SimExchange.js
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

fix .call methods that are transactions
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

fixes MarketContractPool error due to faulty contracts (#220)
  src/actions/explorer.js
  src/components/SimExchange/TopBar.js
  src/containers/SimExchange.js
  src/util/utils.js
  src/util/web3/contractInitializer.js
  test/components/SimExchange/SimExchange.test.js
  test/components/SimExchange/Wallet.test.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

Remove reset button in quick deployment form
  src/components/DeployContract/QuickDeployment.js
  test/components/DeployContract/QuickDeployment.test.js
Due: prettier --single-quote --write, npm run lint:fix

compacts contracts array at top level to filter bad contracts
  src/actions/explorer.js
  src/components/SimExchange/TopBar.js
Due: prettier --single-quote --write, npm run lint:fix

rebuilds loader so that it's always flexed w/in its parent container
  src/Splash.js
  src/components/ContractsList.js
  src/components/Loader.js
  src/components/SimExchange/SimExchange.less
  src/components/SimExchange/TopBar.js
  src/less/App.less
  src/less/components/Loader.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

update tests
  src/components/Loader.js
  test/components/Loader.test.js
Due: prettier --single-quote --write, npm run lint:fix

removes unneeded props
  src/components/ContractsList.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/Steps.js
  src/components/FindContract/FindContractForm.js
  src/components/SimExchange/TopBar.js
  src/components/TestQuery/Steps.js
Due: prettier --single-quote --write, npm run lint:fix

QueryResultTest fixes loader test to work w/ new loader
  test/components/TestQuery/Steps.test.js
Due: prettier --single-quote --write, npm run lint:fix

adjusts loaders to respect new loader
  src/components/DeployContract/Steps.js
  src/components/FindContract/FindContractForm.js
  src/less/App.less
  src/less/ContractsList.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Path conditions:
  prettier --single-quote --write: (any of: *.{js,jsx}) or (any of: *.json)
  npm run lint:fix: any of: *.{js,jsx}
  npm run prettier-less: any of: src/**/*.less
