Repository warezgibzzz/dApp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Modified the UX flow for deploying contract
  package-lock.json
  package.json
  src/actions/deploy.js
  src/components/DeployContract/DeployContractForm.js
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/containers/Deploy.js
  src/less/ContractDeploymentFlow.less
  src/reducers/deploy.js
  test/actions/deploy.test.js
  test/components/DeployContract/QuickDeployment.test.js
  test/components/DeployContract/Steps.test.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Extend Simplified Deploy to include Bitfinex API
  src/components/DeployContract/ExchangeSources.js
  src/components/DeployContract/SelectTokenField.js
  test/components/DeployContract/SelectTokenField.test.js
Due: prettier --single-quote --write, npm run lint:fix

Updated the url references to point to the market-api proxy for Bitfinex.
  src/components/DeployContract/ExchangeSources.js
Due: prettier --single-quote --write, npm run lint:fix

fixed issues with missing imports, tested and working
  src/Contracts.js
  src/components/SimExchange/WalletComponents/Table.js
Due: prettier --single-quote --write, npm run lint:fix

Replace market-solidity package with @marketprotocol/marketprotocol:1.2.0
  migrations/2_deploy_contracts.js
  package-lock.json
  package.json
  src/Contracts.js
Due: prettier --single-quote --write, npm run lint:fix

update marketjs
  package-lock.json
Due: prettier --single-quote --write

marketjs --> 0.0.7
  package-lock.json
  package.json
Due: prettier --single-quote --write

fix isues with utils tests
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

install npm package for ABIs and remove rinkeby build folder
  package-lock.json
  package.json
  rinkeby-build/contracts/Authentication.json
  rinkeby-build/contracts/CollateralToken.json
  rinkeby-build/contracts/Destructible.json
  rinkeby-build/contracts/MarketCollateralPool.json
  rinkeby-build/contracts/MarketCollateralPoolFactory.json
  rinkeby-build/contracts/MarketContractFactoryOraclize.json
  rinkeby-build/contracts/MarketContractOraclize.json
  rinkeby-build/contracts/MarketContractRegistry.json
  rinkeby-build/contracts/MarketToken.json
  rinkeby-build/contracts/MathLib.json
  rinkeby-build/contracts/Migrations.json
  rinkeby-build/contracts/OraclizeQueryTest.json
  rinkeby-build/contracts/OrderLib.json
  rinkeby-build/contracts/Ownable.json
Due: prettier --single-quote --write

update migrations for newer truffle format and faucet tokens
  migrations/2_deploy_contracts.js
Due: prettier --single-quote --write, npm run lint:fix

update rinkeby commands
  package.json
Due: prettier --single-quote --write

add link
  migrations/2_deploy_contracts.js
Due: prettier --single-quote --write, npm run lint:fix

update collateral token addresses to new faucet contracts
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

update marketjs --> 0.0.8
  package-lock.json
  package.json
Due: prettier --single-quote --write

uupdated constructors
  src/actions/simExchange.js
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

Fixed tests for Wallet component
  package-lock.json
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/util/utils.js
  src/util/web3/getWeb3.js
  test/components/SimExchange/Wallet.test.js
Due: prettier --single-quote --write, npm run lint:fix

Fixed initialisation of marketjs with artifacts
  package-lock.json
  package.json
  src/Contracts.js
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/util/utils.js
  test/components/SimExchange/Wallet.test.js
Due: prettier --single-quote --write, npm run lint:fix

Fix/deploy flow (#236)
  package-lock.json
  src/components/DeployContract/GuidedDeployment.js
  src/components/DeployContract/QuickDeployment.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/containers/Deploy.js
  src/util/utils.js
  test/util/utils.test.js
Due: prettier --single-quote --write, npm run lint:fix

Updated marketjs to 0.0.10
  package-lock.json
  package.json
  src/util/utils.js
  src/util/web3/web3Reducer.js
Due: prettier --single-quote --write, npm run lint:fix

Maker Order Placement (#225)
  package-lock.json
  package.json
  src/actions/simExchange.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/components/SimExchange/Columns.js
  src/components/SimExchange/SimExchange.js
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/Trades.js
  src/components/SimExchange/Trades.less
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/containers/SimExchange.js
  src/index.js
  src/less/App.less
  src/less/Trades.less
  src/reducers/index.js
  src/reducers/simExchange.js
  src/util/marketjs/initializeMarket.js
  src/util/marketjs/marketMiddleware.js
  src/util/marketjs/marketReducer.js
  src/util/utils.js
  test/actions/simExchange.test.js
  test/components/SimExchange/SimExchange.test.js
  test/components/SimExchange/Trades.test.js
  test/components/SimExchange/Wallet.test.js
  test/reducers/simExchange.test.js
  test/util/marketjs/initializeMarket.test.js
  test/util/marketjs/marketReducer.test.js
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Updated version to 0.3.0
  package-lock.json
  package.json
  src/actions/deploy.js
  src/components/DeployContract/SimplifiedDeployment.js
  src/components/DeployContract/Steps.js
  src/containers/SimExchange.js
  src/util/utils.js
  test/actions/simExchange.test.js
Due: prettier --single-quote --write, npm run lint:fix

Refactored initialization of marketjs
  package-lock.json
  package.json
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/WalletComponents/HeaderMenu.js
  src/containers/SimExchange.js
  src/index.js
  src/store.js
  src/util/marketjs/initializeMarket.js
  test/util/marketjs/initializeMarket.test.js
Due: prettier --single-quote --write, npm run lint:fix

Handled contract address being null while initializing marketjs
  package-lock.json
  package.json
  src/actions/explorer.js
  src/components/ContractsList.js
  src/constants.js
  src/containers/Explorer.js
  src/containers/Find.js
  src/containers/SimExchange.js
  src/store.js
  src/util/contracts.js
  src/util/utils.js
Due: prettier --single-quote --write, npm run lint:fix

Replace Base Token with Collateral Token
  src/components/ContractsList.js
  src/components/DeployContract/DeployContractField.js
  src/components/DeployContract/Steps.js
  test/components/DeployContract/Steps.test.js
Due: prettier --single-quote --write, npm run lint:fix

gets order data from api
  src/components/SimExchange/Trades.js
Due: prettier --single-quote --write, npm run lint:fix

Add mobile nav
  package.json
  src/components/Header.js
  src/less/Header.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Update mobile menu styles
  src/components/Header.js
  src/less/Header.less
Due: prettier --single-quote --write, npm run lint:fix, npm run prettier-less

Fix sub menu background color
  src/less/Header.less
Due: npm run prettier-less

Update package.json and lock
  package-lock.json
  package.json
Due: prettier --single-quote --write

Updated rxjs to v6
  .travis.yml
  package-lock.json
  package.json
  src/components/DeployContract/ExchangeSources.js
  src/components/GasPriceField.js
  test/components/DeployContract/QuickDeployment.test.js
  test/components/DeployContract/SelectTokenField.test.js
Due: prettier --single-quote --write, npm run lint:fix

displays orders in order view
  src/components/SimExchange/Columns.js
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/TradeComponents/Table.js
  src/components/SimExchange/Trades.js
  src/index.js
Due: prettier --single-quote --write, npm run lint:fix

getOrders tests
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/TradeComponents/Table.js
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/Trades.js
  test/components/SimExchange/Trades.test.js
Due: prettier --single-quote --write, npm run lint:fix

fixes an issue when reloading bids/asks
  src/components/SimExchange/Columns.js
  src/components/SimExchange/TradeComponents/Form.js
  src/components/SimExchange/TradeComponents/Table.js
  src/components/SimExchange/TradeContainer.js
  src/components/SimExchange/Trades.js
Due: prettier --single-quote --write, npm run lint:fix

tests componentWillReceiveProps in trades
  test/components/SimExchange/Trades.test.js
Due: prettier --single-quote --write, npm run lint:fix

100% coverage of trades
  test/components/SimExchange/Trades.test.js
Due: prettier --single-quote --write, npm run lint:fix

Refactor CreateSignedOrderAsync to use new MARKET.js function
  src/util/marketjs/marketMiddleware.js
Due: prettier --single-quote --write, npm run lint:fix

fixes gas issues in #265
  migrations/2_deploy_contracts.js
Due: prettier --single-quote --write, npm run lint:fix

filters up top, time, table stylings
  src/less/App.less
Due: npm run prettier-less

less formatting
  src/less/App.less
Due: npm run prettier-less

popover
  package-lock.json
  src/less/App.less
Due: prettier --single-quote --write, npm run prettier-less

Path conditions:
  prettier --single-quote --write: (any of: *.{js,jsx}) or (any of: *.json)
  npm run lint:fix: any of: *.{js,jsx}
  npm run prettier-less: any of: src/**/*.less
